.chat-container {
    margin: 0 auto;
    position: relative;
    top: 80px;
    /* background-color: rgba(153, 153, 153, 0.918); */
    /* background-color: rgb(41, 173, 173); */
    background-color: transparent;
    /* max-width: 85%; */
    width: 70%;
    height: fit-content;
    border-radius: 0.7rem;
    box-shadow: 5px 7px 15px rgb(119, 119, 119);
}

.chat-header {
    background-color: black;
    display: flex;
    padding: 0.1rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.chat-body {
    margin: 0px;
    max-height: calc(75vh - 80px);
    height: calc(75vh - 80px);
    border-bottom-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    /* background-color: #dbebb2; */
    background-color: #c7d6a1;
    /* background-color: rgb(41, 173, 173); */
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat-footer {
    background-color: beige;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    padding: 0.3rem 0;
}

.chat-footer .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.4rem;
    gap: 10px;
}

.chat-footer>h4 {
    color: rgb(105, 105, 105);
    margin: 0px;
    padding: 0px 0.6em;
}

.chat-header>h2 {
    padding: 0 0.5em;
    color: white;
    flex-grow: 1;
    align-self: center;
}

.chat-bubble-container {
    /* background-color: #e5fca8; */
    padding: 0px 0px 10px;
    display: flex;
    gap: 8px;
}

.bubble-right {
    justify-content: end;
}

.bubble-right>.chat-bubble {
    background-color: cornsilk;
}

@keyframes enterleft {
    0% {
        opacity: 0.3;
        left: -30px
    }

    25% {
        opacity: 0.5;
        left: -25px
    }

    50% {
        opacity: 0.6;
        left: -15px
    }

    75% {
        opacity: 0.8;
        left: -10px
    }

    100% {
        opacity: 1;
        left: 0px
    }
}

@keyframes enterright {
    0% {
        opacity: 0.3;
        left: 30px
    }

    25% {
        opacity: 0.5;
        left: 25px
    }

    50% {
        opacity: 0.6;
        left: 15px
    }

    75% {
        opacity: 0.8;
        left: 10px
    }

    100% {
        opacity: 1;
        left: 0px
    }
}

.chat-bubble {
    background-color: whitesmoke;
    max-width: 60%;
    width: fit-content;
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 1em;
    box-shadow: 5px 5px rgb(53, 53, 53);
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.left {
    border-radius: 1em 1em 1em 0;
    order: 2;
    animation: enterleft 0.3s ease-out;
}

.right {
    border-radius: 1em 1em 0 1em;
    animation: enterright 0.3s ease-out;
}

.chat-avatar {
    padding: 5px;
    width: 2em;
    height: 2em;
    align-self: flex-end;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    top: 18px;
    background-color: transparent;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #161111;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #96f8bf;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #818d5e;
    cursor: pointer;
}

@media (max-width: 800px) {
    .chat-container {
        max-width: 100%;
        width: 100%;
    }
    .chat-body {
        padding: 1em 0.5em;
    }
}

@media (max-height: 450px) {
    .chat-body {
        max-height: 40vh;
    }
}


@media (prefers-color-scheme: dark) {
    .chat-body {
        background-color: #a5af85;
    }
}