
.chat-container {
    margin: 0 auto;
    position: relative;
    top: 80px;
    /* background-color: rgba(153, 153, 153, 0.918); */
    background-color: rgb(41, 173, 173);
    max-width: 85%;
    width: 70%;
    height: 80vh;
    border-radius: 3%;
}

.chat-header {
    background-color: black;
    padding: 0.1rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}

.chat-body {
    max-height: calc(77vh - 87.86px - 80px);
    padding: 0.7rem 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    overflow-y: auto;
}

.chat-footer {
    background-color: beige;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    padding: 0.3rem 0;
}

.chat-footer .inner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.4rem;
    gap: 10px;
}

.chat-footer > h4 {
    color: rgb(133, 133, 133);
    margin: 0px;
    padding: 0px 0.6em;
}

.chat-header > h2 {
    padding: 0 1em;
    color: white;
}

.chat-bubble-container {
    /* background-color: #e5fca8; */
    padding: 0px 0px 10px;
    display: flex;
    gap: 10px;
}

.bubble-right {
    justify-content: end;
}

.bubble-right > .chat-bubble {
    background-color: cornsilk;
}

.chat-bubble {
    background-color: whitesmoke;
    width: fit-content;
    color: black;
    font-size: large;
    font-weight: 500;
    padding: 1em;
}

.left {
    border-radius: 1em 1em 1em 0;
    order: 2;
}

.right {
    border-radius: 1em 1em 0 1em;
}

.chat-avatar {
    padding: 5px;
    /* border: 3px solid rgb(82, 81, 81); */
    width: 2em;
    height: 2em;
    align-self: flex-end;
    border-radius: 50%;
    position: relative;
    vertical-align: middle;
    top: 14px;
}

.bot {
    background-color: #cce093;
}

.user {
    background-color: #8be3fd;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #96f8bf;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e5fca8;
}

@media (max-width: 800px) {
    .chat-container {
        max-width: 100%;
        width: 100%;
    }
}

@media (max-height: 450px) {
    .chat-body {
        max-height: 40vh;
    }
}